@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    margin: 0;
    background-color: floralwhite;
}
header{
    color: cornflowerblue;
    padding: 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-image:url("images/Designer.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 5rem;
    text-transform: capitalize;
    text-align: center;
    color: darkblue;
}
h3{
    text-align: center;
    color: mediumblue;
}

table{
    border-collapse: collapse;
    font-family: 'Inter', sans-serif;
    text-align: center;
    width: 90%;
    margin: 30px auto;
    font-size: 14px;
    border-bottom: black solid 1px;
}

img{
    height: auto;
}
th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
}
th{
    background-color: #9ec5fe;
}
td{
    background-color: #b6d4fe;
}


footer{
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    margin-bottom: 20px;
}
.zoomable {
    transition: transform 0.2s ease;
}

.zoomable:hover {
    transform: scale(1.2);
}

.sql {
    margin-top: 30px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    text-align: center;
    margin-bottom: 10px;
}

.sql p {
    margin-bottom: 15px;
}

.sql-logo {
    width: 150px;
    margin-bottom: 15px;

}

.sql-logo:hover  {
    transform: scale(1.3);

}
.sql ul {
    list-style-type: none;
    padding: 0;
}
.insta-logo{
    max-width: 50px;
    border-radius: 50%;

}




